@keyframes k-loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadding {
  background-color: #0a1f44;
  border-radius: 8px;
  padding: 32px 26px 20px 26px;
  .loaddingImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
  }
  .loaddingWrap {
    position: relative;
    width: 72px;
    height: 72px;
    &:before {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      width: 32px;
      height: 32px;
      background-image: url('assets/inner_side.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }
    &:after {
      content: '';
      position: absolute;
      width: 72px;
      height: 72px;
      background-image: url('assets/out_side.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      animation: k-loadingD 2s 0.3s linear infinite;
    }
  }
  .loaddingText {
    margin-top: 10px;
    color: #fff;
    font-size: 32px;
    text-align: center;
  }
}
