@import '~antd-mobile/dist/antd-mobile.less';

.body {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: rgba(241, 242, 244, 1)
}

.tips {
    width: 702px;
    text-align: center;
    margin:0  auto 16px;
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(83, 98, 124, 1);
    line-height: 40px;
    padding-top: 16px;
}
.scroll {
    background-color: #f1f2f4;
}