@import '~antd-mobile/dist/antd-mobile.less';

.body {
    width: 100%;
    height: 100%;
    // min-height: 110vh;
    background: rgba(241, 242, 244, 1);
    position: relative;
    overflow:scroll;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(166, 174, 188, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(166, 174, 188, 1);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(166, 174, 188, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(166, 174, 188, 1);
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(166, 174, 188, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(166, 174, 188, 1);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(166, 174, 188, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(166, 174, 188, 1);
}

// 健康圈搜索框
.scroll {
    background-color: #f1f2f4;
}
.content {
    min-height: 2000px;
}
    .search {
        height: 64px;
        line-height: 64px;
        background: rgba(241, 242, 244, 1);
        border-radius: 32px;
        margin: 16px 24px;

        span {
            float: left;
            margin-left: 16px;
            width: 40px;
            height: 40px;
            margin-top: 12px;
            background: url(../../../assets/Search@2x.png) no-repeat center;
            background-size: 28px;
        }

        span:last-child {
            display: none;
            float: right;
            ;
            margin-right: 16px;
            background: url(../../../assets/Dictation@2x.png) no-repeat center;
            background-size: 40px;
        }

        input {
            float: left;
            height: 64px;
            background: rgba(241, 242, 244, 1);
            border: none;
            width: 400px;
            font-size: 28px;
            font-family: 'PingFangSC-Regular';
            font-weight: 400;
            color: rgba(166, 174, 188, 1);
            line-height: 64px;
        }

    }

    .tab {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 80px;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: space-around;
        background: #fff;
        flex-wrap: nowrap;
        background: rgba(255, 255, 255, 1);
        border-top: 2px rgba(241, 242, 244, 1) solid;
        border-bottom: 2px rgba(241, 242, 244, 1) solid;
        font-size: 28px;
        z-index: 10;
        .tabBox {
            width: 33.33%;
            text-align: center;
            overflow: hidden;
            background: url(../../../assets/fenge.png) no-repeat center right;
            background-size: 2px 48px;

            i {
                display: inline-block;

            }

            span {

                display: inline-block;
                width: 48px;
                height: 48px;
                position: relative;
                top: 16px;
                background: url(../../../assets/Icon@2x.png) no-repeat center;
                background-size: 48px;
            }
        }

        .tabBoxActive {
            width: 33.33%;
            text-align: center;
            overflow: hidden;
            background: url(../../../assets/fenge.png) no-repeat center right;
            background-size: 2px 48px;

            i {
                display: inline-block;
                color: #0C66FF;
            }

            span {

                display: inline-block;
                width: 48px;
                height: 48px;
                position: relative;
                top: 16px;
                background: url(../../../assets/Up@2x.png) no-repeat center;
                background-size: 48px;
            }
        }

    }
.hotStoreList {
    height: 272px;
    overflow: hidden;
    overflow-x: auto;
    background: rgba(241, 242, 244, 1);
    -webkit-overflow-scrolling: touch;

    ul {
        height: 248px;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-start;
        flex-shrink: 1;
    }

    li {
        width: 240px;
        height: 248px;
        margin-left: 24px;
        background: #fff;
        border-radius: 16px;
        flex-shrink: 0;
        img {
            display: block;
            width: 240px;
            height: 180px;
            border-radius: 16px 16px 0 0;
        }

        p {

            height: 44px;
            font-size: 28px;
            font-family: 'PingFangSC-Semibold';
            font-weight: 600;
            color: rgba(10, 31, 68, 1);
            line-height: 44px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 8px;
            margin-top: 8px;
            text-align: center;
        }
    }
}

.tabTwo {
    width: 100%;
    height: 80px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(241, 242, 244, 1);
    flex-wrap: nowrap;
    font-size: 28px;
    .tabBox {
        width: 33.33%;
        text-align: center;
        overflow: hidden;

        i {
            display: inline-block;
        }

        span {
            display: inline-block;
            width: 48px;
            height: 48px;
            position: relative;
            top: 16px;
            background: url(../../../assets/Icon@2x.png) no-repeat center;
            background-size: 48px;
        }
    }

}

.chooseBox {
    background: #fff;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    .lableBox,
    .cityBox,
    .sortTypeBox {
        background-color: #fff;
        li {
            height: 96px;
            font-size: 28px;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            line-height: 96px;
            color: rgba(10, 31, 68, 1);
            padding: 0;
            padding-left: 76px;
            margin: 0;
            border-bottom: 2px #f1f2f4 solid;
        }

        .choose {
            color: rgba(12, 102, 255, 1);
            background: url(../../../assets/Checked@2x.png) no-repeat 678px center;
            background-size: 48px;
        }
    }
}