.body {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: rgba(241, 242, 244, 1);
    overflow: hidden;
}

.header {
    width: 100%;
    height: 80px;
    line-height: 88px;
    background: #fff;
    position: relative;
    z-index: 9999;
    .tab {
       
        overflow: hidden;
        width: 750px;
        height: 80px;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: space-around;
        background: #fff;
        flex-wrap: nowrap;
        background: rgba(255, 255, 255, 1);
        // border-top: 2px rgba(241, 242, 244, 1) solid;
        // border-bottom: 2px rgba(241, 242, 244, 1) solid;
        font-size: 28px;

        .tabBox {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            overflow: hidden;
            background: url(../../../assets/fenge.png) no-repeat center right;
            background-size: 2px 48px;

            i {
                display: inline-block;
            }

            span {

                display: inline-block;
                width: 48px;
                height: 48px;
                // position: relative;
                // top: 16px;
                background: url(../../../assets/Icon@2x.png) no-repeat center;
                background-size: 48px;
            }
        }

        .tabBoxActive {
            display: flex;
            width: 50%;
            overflow: hidden;
            background: url(../../../assets/fenge.png) no-repeat center right;
            background-size: 2px 48px;
            justify-content: center;
            align-items: center;
            text-align: center;

            i {
                display: inline-block;
                color: #0C66FF;
            }

            span {

                display: inline-block;
                width: 48px;
                height: 48px;
                // position: relative;
                // top: 16px;
                background: url(../../../assets/Up@2x.png) no-repeat center;
                background-size: 48px;
            }
        }

    }
}

.chooseBoxShadow {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    background: #000;
    opacity: 0.5;
    z-index: 99;
    animation: sportBox 400ms  cubic-bezier(0.08, 0.82 ,0.17, 1);
}
@keyframes sportBox{
    0%   {opacity: 0;}
    100% {opacity: 0.5}
}
.chooseBox {
    animation: sport 400ms  cubic-bezier(0.08, 0.82 ,0.17, 1);
    transform: translateY(0px);
    z-index: 99;
    background: #fff;
    position: fixed;
    top: 80px;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}
@keyframes sport {
    0%   {transform: translateY(-80vh);opacity: 0;}
    // 80%   {transform: translateY(-80vh);opacity: 0;}
    100% {transform: translateY(0px);opacity: 1}
}
.chooseCategorys {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 28px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(10, 31, 68, 1);
    line-height: 96px;

    li {
        width: 100%;
        height: 96px;
        padding-left: 24px;
        border-bottom: 2px rgba(241, 242, 244, 1) solid;
    }

    .activeLi {
        color: #0C66FF;
    }

    .left {
        float: left;
        width: 240px;
        height: 60vh;
        overflow: hidden;
        overflow-y: scroll;
    }

    .right {
        border: none;
        float: right;
        width: 510px;
        background: rgba(241, 242, 244, 1);
        height: 60vh;
        overflow: hidden;
        overflow-y: scroll;
    }
}

.footer {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: rgba(166, 174, 188, 1);
    padding: 24px 0 48px;
    font-size: 24px;
}

.STBox {
    width: 100%;
    background: #fff;
    font-size: 28px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(83, 98, 124, 1);
    line-height: 44px;

    h2 {
        color: rgba(138, 148, 166, 1);
        padding-left: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .serviceBox,
    .TagBox {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-bottom: 0.02rem solid #f1f2f4;
        div{
            width: 100%;
            height: 100%;
            padding: 0 24px;
        }
        span{
            display: inline-block;
            padding: 0.16rem 0.32rem;
            font-size: 0.28rem;
            color: #53627c;
            line-height: 0.3rem;
            background: #f1f2f4;
            margin-right: 0.24rem;
            margin-bottom: 0.24rem;
            border-radius: 0.3rem;
            position: relative;
        }
        .choose{
            color:#0C66FF;
            background:rgba(235,245,255,1);
        }
        p{
            overflow: hidden;
            border-top:  0.02rem solid #f1f2f4
        }
        b,i{
            display:block;
            float: left;
            width: 374px;
            text-align: center;
            height: 96px;
            line-height: 96px;
            font-size:32px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(12,102,255,1);
        }
        b{
            background:rgba(12,102,255,1);
            color: #fff;
        }
    }
}

.scroll {
    background-color: rgba(241,242,244,1);
}