/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早起浏览器*/
  -moz-user-select: none;
  /*火狐浏览器*/
  -ms-user-select: none;
  /*IE浏览器*/
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif,
    'Droid Sans Fallback';
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* iphonex 兼容方案
https://aotu.io/notes/2017/11/27/iphonex/index.html */

html,
body,
#root {
  height: 100%;
}

/* html{font-size:100px} body{font-size:16px} */
/* iphonex 安全区域 */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #fff !important;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

/* iphonex fix底部元素适配 */
:global(.fixed_bottom) {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  position: fixed;
  z-index: 10;
  background-color: #fff;
  /* 具体应用位置，通过叠加css确定元素本身样式
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  height: 50px; */
}

:global(.clearfix:after) {
  content: '';
  display: table;
  clear: both;
}

/* 样式覆盖，解决移动端滚动问题，避免容器模拟滚动，都采用body滚动，以及自己封装的滚动容器 */
.am-tab-bar {
  position: relative;
  overflow: visible !important;
}

.am-tabs {
  width: 100%;
  overflow: visible !important;
}

.am-tabs-pane-wrap {
  overflow-y: visible !important;
}

.am-tab-bar-item {
  height: auto !important;
  padding-bottom: 100px;
}

.am-tabs-tab-bar-wrap {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}
.move-up-enter,
.move-up-appear {
  animation-duration: 0.5s;
}


/* 富文本样式修改 */
#innerHtml span,
#innerHtml p,
#innerHtml {
  font-size: 0.28rem;
  text-align: justify;
  line-height: 1.5;
}

#innerHtml h1 {
  font-weight: bold;
  font-size: 0.48rem;
}

#innerHtml h2 {
  font-weight: bold;
  font-size: 0.36rem;
}

#innerHtml h3 {
  font-weight: bold;
  font-size: 0.28rem;
}

#innerHtml h4 {
  font-weight: bold;
  font-size: 0.24rem;
}

#innerHtml h5 {
  font-weight: bold;
  font-size: 0.2rem;
}

#innerHtml h6 {
  font-weight: bold;
  font-size: 0.16rem;
}

#innerHtml em {
  font-style: italic;
}

#inerHtml img {
  width: 100%;
  height: auto;
  display: block;
}

#innerHtml strong {
  font-weight: bold;
}

#innerHtml sub {
  vertical-align: sub;
  font-size: smaller;
}

#innerHtml sup {
  vertical-align: super;
  font-size: smaller;
}

#innerHtml ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#innerHtml li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#innerHtml ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#innerHtml blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}



/* modal 动画 */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 31, 68, 0.5);
  z-index: 10;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
  transition-delay: 50ms;
}


.scale-enter {
  transform: scale(0);
}
.scale-enter-active {
  transform: scale(1.03);
  transition: transform 150ms cubic-bezier(0.08,0.82, 0.17,1);
}
.scale-enter-done {
  transform: scale(1);
  transition: transform 50ms;
}
.scale-exit {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 50ms;
}
.scale-exit-active {
  transform: scale(.8);
  opacity: 0;
  transition: opacity 150ms transform 150ms
}


