.formItem {
    display: flex;
    align-items: center;
    height: 112px;
    padding: 0 24px;
    font-size: 28px;
    color: #0A1F44;
    background-color: #fff;
    border-top: 1px solid #F1F2F4;
}
.label {
    flex: none;
    width: 176px;
}
.arrow {
    flex: none;
    width: 48px;
    height: 48px;
    background: url('../../assets/arrow@2x.png') no-repeat center/100%;
}
select {
    width: 0;
    flex: auto;
}
option[value="0"][disabled] {
    display: none;
}