#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Paragraph_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0da62eec-8475-4c6f-81f4-6acfaa54f15c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}