#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-35765aa7-c8ea-4597-bc9b-84c6c22769ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}