#s-4fa72f10-da4d-4000-9862-9d3e33855499 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_9 {
  position: absolute;
  top: 90px;
  left: 0px;
  width: 371px;
  height: 62px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Group_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Paragraph_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_20 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_20 span#rtr-s-Text_20_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_21 {
  position: absolute;
  top: 33px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_21 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_22 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_23 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_23 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_24 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_24 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Group_3 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_2 .content {
  width: 6px;
  height: 6px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_3 .content {
  width: 6px;
  height: 6px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_4 .content {
  width: 6px;
  height: 6px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_4 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_5 .content {
  width: 6px;
  height: 6px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_5 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_25 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_26 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_26 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_1 {
  position: absolute;
  top: 69px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_1 {
  position: absolute;
  top: 104px;
  left: 6px;
  width: 81px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_4 {
  position: absolute;
  top: 104px;
  left: 109px;
  width: 80px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_2 {
  position: absolute;
  top: 69px;
  left: 193px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_2 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_3 {
  position: absolute;
  top: 69px;
  left: 257px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_3 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_4 {
  position: absolute;
  top: 167px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Group_4 {
  position: absolute;
  top: 164px;
  left: 180px;
  width: 149px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_28 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_28 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_29 {
  position: absolute;
  top: 0px;
  left: 34px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_30 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_30 {
  position: absolute;
  top: 0px;
  left: 66px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_31 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_31 {
  position: absolute;
  top: 0px;
  left: 94px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_32 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_32 {
  position: absolute;
  top: 0px;
  left: 125px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_6 {
  position: absolute;
  top: 195px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_11 {
  position: absolute;
  top: 226px;
  left: 17px;
  width: 59px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_11 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_50 {
  position: absolute;
  top: 257px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_50 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Line_1 {
  position: absolute;
  top: 285px;
  left: 6px;
  width: 369px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_8 {
  position: absolute;
  top: 436px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_33 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_33 {
  position: absolute;
  top: 430px;
  left: 181px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_10 {
  position: absolute;
  top: 464px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_51 {
  position: absolute;
  top: 490px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_51 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_51 span#rtr-s-Text_51_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_5 {
  position: absolute;
  top: 104px;
  left: 205px;
  width: 80px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_6 {
  position: absolute;
  top: 104px;
  left: 293px;
  width: 74px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_7 {
  position: absolute;
  top: 515px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_7 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_11 {
  position: absolute;
  top: 543px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_1 {
  position: absolute;
  top: 577px;
  left: 9px;
  width: 70px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_2 {
  position: absolute;
  top: 577px;
  left: 114px;
  width: 70px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_3 {
  position: absolute;
  top: 577px;
  left: 229px;
  width: 70px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_5 {
  position: absolute;
  top: 297px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_5 span#rtr-s-Text_5_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Group_5 {
  position: absolute;
  top: 294px;
  left: 180px;
  width: 149px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_34 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_35 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_35 {
  position: absolute;
  top: 0px;
  left: 34px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_36 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_36 {
  position: absolute;
  top: 0px;
  left: 66px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_37 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_37 {
  position: absolute;
  top: 0px;
  left: 94px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_38 > svg {
  width: 24px;
  height: 24px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Image_38 {
  position: absolute;
  top: 0px;
  left: 125px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_9 {
  position: absolute;
  top: 325px;
  left: 4px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_12 {
  position: absolute;
  top: 361px;
  left: 13px;
  width: 59px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_12 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_52 {
  position: absolute;
  top: 392px;
  left: 2px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_52 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Text_52 span#rtr-s-Text_52_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Line_2 {
  position: absolute;
  top: 424px;
  left: 0px;
  width: 369px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_13 {
  position: absolute;
  top: 361px;
  left: 95px;
  width: 59px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_13 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4fa72f10-da4d-4000-9862-9d3e33855499 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}