#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8ad5574d-5259-4afd-8ddd-4fcb99f17ddc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}