#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_4 {
  position: absolute;
  top: 309px;
  left: 1px;
  width: 371px;
  height: 127px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Paragraph_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_20 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_21 {
  position: absolute;
  top: 33px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_21 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_22 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_23 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_23 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_24 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_24 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Group_3 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_2 .content {
  width: 6px;
  height: 6px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_3 .content {
  width: 6px;
  height: 6px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_4 .content {
  width: 6px;
  height: 6px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_4 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_5 .content {
  width: 6px;
  height: 6px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_5 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_25 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_26 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_26 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_1 {
  position: absolute;
  top: 184px;
  left: 0px;
  width: 371px;
  height: 124px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_1 {
  position: absolute;
  top: 201px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_1 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_2 {
  position: absolute;
  top: 261px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_5 {
  position: absolute;
  top: 320px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_5 span#rtr-s-Text_5_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_6 {
  position: absolute;
  top: 370px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_7 {
  position: absolute;
  top: 394px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_7 span#rtr-s-Text_7_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_1 {
  position: absolute;
  top: 522px;
  left: 27px;
  width: 117px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  opacity: 0.92;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_2 {
  position: absolute;
  top: 522px;
  left: 236px;
  width: 108px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  opacity: 0.92;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Button_2 span#rtr-s-Button_2_1 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_2 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 371px;
  height: 47px;
  background-color: #00FFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_8 {
  position: absolute;
  top: 344px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_3 {
  position: absolute;
  top: 232px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_10 {
  position: absolute;
  top: 123px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_11 {
  position: absolute;
  top: 153px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9e19d140-aa9a-49da-bf75-7a803f7ad0a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}