#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_9 {
  position: absolute;
  top: 491px;
  left: 7px;
  width: 353px;
  height: 122px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_1 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 371px;
  height: 98px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Paragraph_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_20 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_21 {
  position: absolute;
  top: 33px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_21 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_22 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_23 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_23 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_24 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_24 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Group_3 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_2 .content {
  width: 6px;
  height: 6px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_3 .content {
  width: 6px;
  height: 6px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_4 .content {
  width: 6px;
  height: 6px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_4 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_5 .content {
  width: 6px;
  height: 6px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_5 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_25 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_26 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_26 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_5 {
  position: absolute;
  top: 172px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_5 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_6 {
  position: absolute;
  top: 172px;
  left: 97px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_6 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_7 {
  position: absolute;
  top: 202px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_7 span#rtr-s-Text_7_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_30 > svg {
  width: 24px;
  height: 24px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_30 {
  position: absolute;
  top: 196px;
  left: 106px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_31 > svg {
  width: 24px;
  height: 24px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_31 {
  position: absolute;
  top: 196px;
  left: 159px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_32 > svg {
  width: 24px;
  height: 24px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_32 {
  position: absolute;
  top: 195px;
  left: 210px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_33 > svg {
  width: 24px;
  height: 24px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_33 {
  position: absolute;
  top: 196px;
  left: 262px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_34 > svg {
  width: 24px;
  height: 24px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_34 {
  position: absolute;
  top: 196px;
  left: 315px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Line_1 {
  position: absolute;
  top: 237px;
  left: 7px;
  width: 357px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_8 {
  position: absolute;
  top: 245px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_2 {
  position: absolute;
  top: 274px;
  left: 7px;
  width: 86px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_3 {
  position: absolute;
  top: 274px;
  left: 127px;
  width: 86px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_4 {
  position: absolute;
  top: 274px;
  left: 250px;
  width: 86px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_5 {
  position: absolute;
  top: 315px;
  left: 7px;
  width: 86px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_6 {
  position: absolute;
  top: 315px;
  left: 127px;
  width: 86px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_7 {
  position: absolute;
  top: 315px;
  left: 250px;
  width: 86px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_8 {
  position: absolute;
  top: 358px;
  left: 12px;
  width: 347px;
  height: 128px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_9 {
  position: absolute;
  top: 498px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Button {
  position: absolute;
  top: 622px;
  left: 0px;
  width: 367px;
  height: 37px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_1 {
  position: absolute;
  top: 404px;
  left: 36px;
  width: 84px;
  height: 78px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_12 {
  position: absolute;
  top: 434px;
  left: 46px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_13 {
  position: absolute;
  top: 444px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_13 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_14 {
  position: absolute;
  top: 434px;
  left: 132px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_14 span#rtr-s-Text_14_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_2 {
  position: absolute;
  top: 72px;
  left: 11px;
  width: 66px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_15 {
  position: absolute;
  top: 72px;
  left: 94px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_1 {
  position: absolute;
  top: 104px;
  left: 94px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_2 {
  position: absolute;
  top: 521px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_3 {
  position: absolute;
  top: 553px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_7 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_7 {
  position: absolute;
  top: 515px;
  left: 64px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_4 {
  position: absolute;
  top: 581px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_8 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_8 {
  position: absolute;
  top: 515px;
  left: 115px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_9 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_9 {
  position: absolute;
  top: 515px;
  left: 169px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_10 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_10 {
  position: absolute;
  top: 515px;
  left: 218px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_11 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_11 {
  position: absolute;
  top: 515px;
  left: 271px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_12 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_12 {
  position: absolute;
  top: 548px;
  left: 64px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_13 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_13 {
  position: absolute;
  top: 548px;
  left: 115px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_14 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_14 {
  position: absolute;
  top: 548px;
  left: 169px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_15 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_15 {
  position: absolute;
  top: 548px;
  left: 218px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_16 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_16 {
  position: absolute;
  top: 548px;
  left: 271px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_17 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_17 {
  position: absolute;
  top: 581px;
  left: 64px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_18 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_18 {
  position: absolute;
  top: 581px;
  left: 115px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_19 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_19 {
  position: absolute;
  top: 581px;
  left: 169px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_20 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_20 {
  position: absolute;
  top: 581px;
  left: 218px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_21 > svg {
  width: 28px;
  height: 28px;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 #s-Image_21 {
  position: absolute;
  top: 581px;
  left: 271px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a7166f91-6fb2-4e4f-a020-300cf33009e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}