#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Paragraph_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Table_2 {
  border-collapse: separate;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Paragraph_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 110px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}