#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a7a6185a-c6a1-4704-b66d-5f99e620a166 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}