#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Paragraph_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_20 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_21 {
  position: absolute;
  top: 33px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_21 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_22 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_23 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_23 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_24 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_24 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Group_3 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_2 .content {
  width: 6px;
  height: 6px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_3 .content {
  width: 6px;
  height: 6px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_4 .content {
  width: 6px;
  height: 6px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_4 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_5 .content {
  width: 6px;
  height: 6px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_5 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_25 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_26 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_26 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Category_1 {
  position: absolute;
  top: 74px;
  left: 12px;
  padding-left: 15px;
  width: 112px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  vertical-align: middle;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Category_1 .valign {
  width: 84px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Category_2 {
  position: absolute;
  top: 74px;
  left: 230px;
  padding-left: 15px;
  width: 112px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  vertical-align: middle;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Category_2 .valign {
  width: 84px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_2 {
  position: absolute;
  top: 125px;
  left: 2px;
  width: 370px;
  height: 189px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_11 {
  position: absolute;
  top: 137px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_11 span#rtr-s-Text_11_1 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Line_4 {
  position: absolute;
  top: 166px;
  left: 9px;
  width: 357px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_12 {
  position: absolute;
  top: 175px;
  left: 79px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Line_5 {
  position: absolute;
  top: 270px;
  left: 9px;
  width: 357px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Button_5 {
  position: absolute;
  top: 276px;
  left: 283px;
  width: 70px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  opacity: 0.92;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Button_5 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Image_1 {
  position: absolute;
  top: 175px;
  left: 9px;
  width: 62px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_1 {
  position: absolute;
  top: 175px;
  left: 329px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_2 {
  position: absolute;
  top: 212px;
  left: 334px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_3 {
  position: absolute;
  top: 247px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_4 {
  position: absolute;
  top: 247px;
  left: 218px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b7be3d8c-a11e-4c80-90e6-1ead0b4d2675 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}