#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Paragraph_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f340e6b9-7f11-4748-9109-b832b431e809 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}