#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Triangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(180.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Ellipse_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d7be38b-e7fb-425d-940d-51c9dd0f190d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}