#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Triangle_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-80fda642-afd2-47a6-856b-fc8158e23749 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}