#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Ellipse_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Triangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(180.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 #s-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aba38ce9-adbc-4f69-80ed-084a660d1066 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}