@keyframes k-loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scroll {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pullRefresh {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 28px;
  text-align: center;
  z-index: 2;
}
.pullUpfresh {
  font-size: 28px;
  text-align: center;
}
.loaddingText {
  margin: 8px auto;
  color: #53627c;
}
.refreshLoadding {
  display: inline-block;
  width: 56px;
  height: 56px;
  // background: url('./pullRefresh.png') center no-repeat;
  background: url(../../assets/pullRefresh.png) no-repeat center ;
  background-size: 100%;
  animation: k-loadingD 2s 0.3s linear infinite;
}
.noData {
  padding: 36px;
  text-align: center;

}
.loadAll {
  padding: 48px;
  text-align: center;
  font-size: 24px;
  color: #A6AEBC;
}
