.body {
    min-height: 1vh;
    width: 100%;
    background: #ffffff;
    font-size: 28px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(10, 31, 68, 1);
    line-height: 44px;
    font-size: 28px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(10, 31, 68, 1);
    line-height: 96px;

    li {
        height: 96px;
        width: 100%;
        border-bottom: 2px solid rgba(241, 242, 244, 1);
        padding-left: 72px;

        span {
            padding-left: 20px;
            font-size: 28px;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(138, 148, 166, 1);
        }
    }
    .choose{
        color:rgba(12,102,255,1);
        background: url(../../assets/Checked@2x.png) no-repeat 678px  center;
        background-size: 48px;
    }
}