/*
* @Author: Jan-superman 
* @Date: 2018-09-27 20:38:43 
* @Last Modified by: superman
* @Last Modified time: 2018-12-24 23:40:44
*/

@import '~antd-mobile/dist/antd-mobile.less';

.body {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: rgba(241, 242, 244, 1);
    padding-bottom: 40px
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(166, 174, 188, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(166, 174, 188, 1);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(166, 174, 188, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(166, 174, 188, 1);
}

// 健康圈搜索框
.header {
    width: 100%;
    padding: 0 24px;
    height: 88px;
    line-height: 88px;
    background: #fff;

    .address {
        float: left;
        font-size: 32px;
        font-weight: 800;

        i {
            font-size: 32px;
            float: left;
            color:rgba(10,31,68,1);
            width: 66px;
            height: 88px;
            overflow: hidden;
            overflow-x: scroll;
            
        }

        span {
            float: left;
            display: inline-block;
            margin-top: 20px;
            width: 48px;
            height: 48px;
            background: url(../../assets/Down@2x.png) no-repeat center;
            background-size: 48px;
        }
    }

    .search {
        float: left;
        width: 572px;
        height: 64px;
        line-height: 64px;
        margin: 12px 0 0 16px;
        background: rgba(241, 242, 244, 1);
        border-radius: 32px;
        overflow: hidden;
        span {
            float: left;
            margin-left: 16px;
            width: 40px;
            height: 40px;
            margin-top: 12px;
            background: url(../../assets/Search@2x.png) no-repeat center;
            background-size: 28px;
        }

        span:last-child {
            float: right;
            ;
            display: none;
            margin-right: 16px;
            background: url(../../assets/Dictation@2x.png) no-repeat center;
            background-size: 40px;
        }

        input {
            float: left;
            height: 64px;
            background: rgba(241, 242, 244, 1);
            border: none;
            width: 400px;
            font-size: 28px;
            font-family: 'PingFangSC-Regular';
            font-weight: 400;
            color: rgba(166, 174, 188, 1);
            line-height: 64px;
        }
    }
}

// 健康圈nav分类
nav {
    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: #fff;
        flex-wrap: wrap;
        padding: 6px 24px 24px 22px;

        li {
            margin-top: 34px;
            text-align: center;
            width: 25%;
            height: 142px;
            text-align: center;

            img {
                display: block;
                margin: 0 auto;
                width: 80px;
                height: 80px;
                margin-bottom: 18px;
            }

            span {
                width: 100%;
                text-align: center;
                height: 44px;
                font-size: 28px;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(83, 98, 124, 1);
                line-height: 44px;
            }
        }
    }
}

// banner
.banner {
    width: 100%;
    padding: 20px 0;
    background: #fff;
    height: 220px;
    img {
        width: 702px;
        margin-left: 24px;
        height: 100%;
        height: 180px;
        border-radius: 16px;
    }
}

// Carousel轮播组建样式修改，去掉盒子两边的边距以及指示点距离底部的距离
:global {
    .am-wingblank.am-wingblank-lg {
        margin: 0
    }

    .am-carousel-wrap-dot {
        margin-bottom: 5px
    }
}


